/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utility */

body {
    max-width: 800px;
    margin: 40px auto;
}

.float {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* header */

header {
    background-color: rgb(221, 124, 221);
    height: 60px;
    margin-bottom: 10px;
}


/* main */

.section-brown {
    background-color: rosybrown;
    height: 300px;
    margin-bottom: 10px;
}

.section-blue {
    padding-top: 40px;
    background-color: lightskyblue;
    margin-bottom: 10px;
}

.container {
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
}

.sidebar-left {
    width: 30%;
    height: 300px;
    background-color: lightskyblue;
    border-left: 10px solid blue;
}

.principal {
    width: 40%;
    height: 300px;
    background-color: lightskyblue;
}

.sidebar-right {
    width: 30%;
    height: 300px;
    background-color: lightskyblue;
    border-right: 10px solid blue;
}


/* footer */

footer {
    background-color: rgb(115, 36, 168);
    height: 30px;
}